body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

header,
#main-section section {
  margin-bottom: 64px;
}

/* UTILITIES */
.container {
  width: 1350px;
  max-width: 90%;
}

.container-small {
  max-width: 1024px;
  margin: auto;
}

.container > div:first-child {
  padding-left: 0;
}

.container > div:last-child {
  padding-right: 0;
}


.container-small::after {
  content: '';
  display: table;
  clear: both;
}

.only-phone,
.only-tablet,
.only-desktop {
  display: none;
}

ul.list-inline li {
  display: inline-block;
  list-style: none;
}

.color-white {
  color: white;
}

.instagram:hover,
.instagram:focus {
  color: #e7405a;
}

.facebook:hover,
.facebook:focus {
  color: #3b5896;
}

.twitter:hover,
.twitter:focus {
  color: #1da0f2;
}

.youtube:hover,
.youtube:focus {
  color: #fa011d;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
p {
  margin-bottom: 18px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
/* navigation bar - header */
.nav-header {
  height: 64px;
  line-height: 64px;
}

.logo-header {
  float: left;
  padding: 0 12px;
}

.logo-header img {
  vertical-align: middle;
}

.menu-header {
  float:right;
}

.nav-header .menu-header li {
  padding: 0 6px;
  font-size: 12px;
}

.nav-header .menu-header li:first-of-type {
  padding-left: 0;
}

.nav-header .menu-header li:last-of-type {
  padding-right: 12px;
}

.nav-header .menu-header li:nth-last-of-type(1),
.nav-header .menu-header li:nth-last-of-type(2) {
  border-left: 1px solid #000;
  line-height: 100%;
}

.nav-header .menu-header li:nth-last-of-type(3) {
  padding-left: 18px;
}

.nav-header a:hover,
.nav-header a:focus {
  font-size: 18px;
}

/* jumbotron */
.jumbotron {
  position: relative;
  height: 480px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  text-align: center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.jumbotron img {
  width: 150px;
}

/* MAIN */
/* info products */
.info-products {
  text-align: center;
}

.info-products a {
  display: block;
  color: #0007ff;
}

.info-products img {
  height: 300px;
}

.info-products > div {
  padding: 0 12px;
  margin-bottom: 12px;
}

.info-products .product {
  padding: 48px 0;
  background-color: #fafafa;
}

/* how it works */
.how-works {
  height: 500px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  background-position: left center;
}

#main-section .how-works {
  margin-bottom: 160px;
}

.how-works .col-left,
.how-works .col-right {
    margin-top: 520px;
}

/* smart */
.smart {
  position: relative;
  height: 470px;
  background-image: url('../img/scooter-bg.jpg');
  background-size: cover;
}

.smart .text {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: center;
}

/* find us */
.find-us {
  text-align: center;
}

.find-us > div .find-us-box {
    padding: 42px 0 0;
    height: 470px;
}

.find-us .app .find-us-box {
  position: relative;
   background-image: linear-gradient(to top, #263039, #2c3945, #334250, #394b5d, #405569);
}

.find-us .app img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  max-width: 95%;
}

.find-us .find-city .find-us-box {
  background-image: url('../img/cities.jpg');
}

.find-us > div {
  margin-bottom: 12px;
}

.find-us .findusbox {
  padding: 48px 0;
}

/* family */
.family {
  position: relative;
  height: 400px;
  background-image: url('../img/social-banner.jpg');
}

.family-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 70px;
  background-color: #fff;
  text-align: center;
}

.family p {
  font-size: 20px;
}

.family li {
  padding: 0 6px;
}

/* FOOTER */
footer {
  padding: 64px 0;
  background-color: #000;
  text-align: center;
}

footer > section:not(:last-of-type) {
  margin-bottom: 18px;
}

/* footer menu */
footer .footer-menu > div:first-child {
  margin-bottom: 24px;
}

footer .footer-menu li {
  list-style: none;
  margin-bottom: 18px;
}

footer .footer-menu li:not(:first-of-type) {
  display: none;
  color: #808080;
}

.footer-menu a:hover,
.footer-menu a:focus {
  color: white;
}

/* footer social */
.footer-social {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding: 18px 0;
  font-size: 14px;
}

.footer-social li {
  font-size: 20px;
}

.footer-social li:not(:last-of-type) {
  margin-right: 12px;
}

.footer-social > div:not(:last-of-type) {
  margin-bottom: 18px;
}

/* TABLET QUERY */
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 768px;
  }

  .only-tablet {
    display: block;
  }

  /* info-products */
  .info-products > div {
    margin-bottom: 0;
  }

  /* how it works */
  .col-right {
    margin-top: 200px;
  }

  /* family */
  .family-text {
    padding: 40px 85px;
  }

  .family p {
    font-size: 24px;
  }

  .family li {
    padding: 0 12px;
    font-size: 24px;
  }

  /* find us */
  .find-us > div:first-child {
    padding-right: 32px;
  }

  .find-us > div:last-child {
    padding-left: 32px;
  }

  /* FOOTER */
  footer {
    padding: 100px 0;
  }

  footer > section:not(:last-of-type) {
    margin-bottom: 36px;
  }

  /* footer menu */
  footer .footer-menu li {
    list-style: none;
  }

  footer .footer-menu li:not(:first-of-type) {
    display: block;
  }

  /* footer social */
  .footer-social {
    height: 64px;
    line-height: 64px;
    padding: 0;
  }

  .footer-social > div:not(:last-of-type) {
    margin-bottom: 0;
  }

  .footer-social li {
    font-size: 20px;
  }

  .footer-social li:not(:last-of-type) {
    margin-right: 12px;
  }
}

/* DESKTOP QUERY */
@media screen and (min-width: 992px) {
  .container {
    width: 90%;
    max-width: 1350px;
  }

  .only-desktop {
    display: block;
  }

  h1 {
    font-size: 48px;
  }

  /* how works */
  .how-works .col-left,
  .how-works .col-right {
      margin-top: 550px;
  }

  .how-works .col-left {
  text-align: right;
  }

  .how-works .col-left .how-text {
    display: inline-block;
    text-align: left;
  }

  .how-works .phone {
    margin-top: 150px;
    text-align: center;
  }

  .how-works .phone img {
    max-height: 550px;
    max-width: 100%;
  }

  /* MAIN */
  #main-section .how-works {
    margin-bottom: 268px;
  }

  /* family */
  .family-text {
    padding: 50px 100px;
  }

  .family p {
    font-size: 30px;
  }

  .family li {
    padding: 0 18px;
    font-size: 30px;
  }
}
