body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

header,
#main-section section {
  margin-bottom: 64px;
}

/* UTILITIES */
.container {
  width: 1350px;
  max-width: 90%;
}

.container-small {
  max-width: 1024px;
  margin: auto;
}

.only-phone,
.only-tablet,
.only-desktop {
  display: none;
}

ul.list-inline li {
  display: inline-block;
  list-style: none;
}

.color-white {
  color: white;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
p {
  margin-bottom: 18px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
/* navigation bar - header */
.nav-header {
  height: 64px;
  line-height: 64px;
}

.logo-header {
  float: left;
  padding: 0 12px;
}

.logo-header img {
  vertical-align: middle;
}

.menu-header {
  float:right;
}

.nav-header .menu-header li {
  line-height: 100%;
  padding: 0 6px;
  font-size: 12px;
}

.nav-header .menu-header li:first-of-type {
  padding-left: 0;
}

.nav-header .menu-header li:last-of-type {
  padding-right: 12px;
}

.nav-header .menu-header li:nth-last-of-type(1),
.nav-header .menu-header li:nth-last-of-type(2) {
  border-left: 1px solid #000;
}

.nav-header .menu-header li:nth-last-of-type(3) {
  padding-left: 18px;
}

/* jumbotron */
.jumbotron {
  position: relative;
  height: 480px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  text-align: center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.jumbotron img {
  width: 150px;
}

/* MAIN */
/* info products */
.info-products {
  text-align: center;
}

.info-products a {
  display: block;
  color: #0007ff;
}

.info-products img {
  height: 300px;
}

.info-products > div {
  padding: 0 12px;
  margin-bottom: 12px;
}

.info-products .product {
  padding: 48px 0;
  background-color: #fafafa;
}

/* how it works */
.how-works {
  height: 500px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  background-position: left center;
}

#main-section .how-works {
  margin-bottom: 160px;
}

.how-works .col-left,
.how-works .col-right {
    margin-top: 520px;
}

/* smart */
.smart {
  position: relative;
  height: 470px;
  background-image: url('../img/scooter-bg.jpg');
  background-size: cover;
}

.smart .text {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: center;
}

/* TABLET QUERY */
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 768px;
  }

  .only-tablet {
    display: block;
  }

  .info-products > div {
    margin-bottom: 0;
  }

  .col-right {
    margin-top: 200px;
  }
}

/* DESKTOP QUERY */
@media screen and (min-width: 992px) {

  .container {
    width: 90%;
    max-width: 1350px;
  }

  .only-desktop {
    display: block;
  }

  h1 {
    font-size: 48px;
  }

  .how-works .col-left,
  .how-works .col-right {
      margin-top: 550px;
  }

  .how-works .col-left {
  text-align: right;
  }

  .how-works .col-left .how-text {
    display: inline-block;
    text-align: left;
  }

  .how-works .phone {
    margin-top: 150px;
    text-align: center;
  }

  .how-works .phone img {
    max-height: 550px;
    max-width: 100%;
  }

  #main-section .how-works {
    margin-bottom: 268px;
  }

}









/* debug box */
.box {
  background-color: pink;
  border: rgba(0, 0, 255, 0.2);
}
